# Зависимости
node_modules/
vendor/
venv/
.venv/

# Логи и временные файлы
*.log
*.tmp
.DS_Store
Thumbs.db

# Настройки окружения
.env
.env.local
.env.*.local

# Редакторы
.idea/
.vscode/
*.swp

# Сборка
dist/
build/
coverage/

# База данных и загруженные файлы CMS
cms/data/*.sqlite*
cms/uploads/*
!cms/uploads/.gitkeep
cms/data/*.sqlite-shm
cms/data/*.sqlite-wal
